*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	out-line: none;
}
@font-face{
	font-family: "HYZhuZiMuTouRenW";
	src:url("fonts/HYZhuZiMuTouRenW.ttf")format("truetype");
}
body{
	height: 100%;
	width: 100%;
	background: #fff;
}

.forkme{
	position: absolute;
	right: 0;
	z-index: 10000;
}

.center{
	margin: 0 auto;
	width: 840px;
}

.nav{
	position: fixed;
	height: 60px;
	width: 100%;
	background-image: linear-gradient(to right,#4682b4 0,#87ceeb 100%); 
	/*background: #4682b4;*/
	z-index: 9999;
}
.nav .title-nav{
	position: relative;
	/*margin: 0 auto;*/
	display: inline-block;
	padding-left: 100px;
	height: 60px;
	width: 500px;
	line-height: 60px;
	font-size: 40px;
	font-family: "HYZhuZiMuTouRenW";
	color: #fff;
}
.nav .logo{
	float: right;
	padding-right: 300px;
}
.nav .logo img{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
}
.afternav{
	position: fixed;
	height: 4px;
	width: 100%;
	top: 60px;
	/*background-image: linear-gradient(to right,#004b97 0,#977c00 100%);*/
	background: #4682b4;
	z-index: 9999;
}

.container{
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: row;
}
.container .left{
	display: flex;
	flex-grow: 8;
	order: 0;
	/*overflow: hidden;*/
}
.container .right{
	display: flex;
	flex-grow: 8;
	order: 2;
	/*overflow: hidden;*/
}
.container .list{
	position: fixed;
	width: 240px;
	height: 500px;
	margin-left: 20px;
	margin-top: 90px;
	border: 2px solid #000;
	/*background: #ffdead;*/
	border-radius: 10px;
}
.container .list .photo img{
	position: relative;
	padding: 30px;
	padding-bottom: 30px;
}
.container .list ul{
	width: 280px;
}
.container .list ul li{
	height: 34px;
	padding: 0 30px;
	font-family: "Arial";
	font-weight: 1000;
}
.container .list ul li span{
	font-size: 30px;
	font-family: "HYZhuZiMuTouRenW";
	color: red;
}

.container .content{
	/*position: absolute;*/
	order: 1;
	flex-grow: 1;
	height: 3440px;
	background: #fff;
	/*border-left: 2px solid #000;*/
	/*border-right: 2px solid #000;*/
	font-family: "Arial";
	/*border: 2px solid #000;*/
}
.container .content h1{
	margin-top: 80px;
	padding-left: 40px;
	/*font-family: "Arial";*/
	font-size: 44px;
}
.container .content h2{
	padding-left: 40px;
	padding-top: 10px;
}
.container .content p{
	padding-left: 40px;
	padding-top: 10px;
	font-size: 20px;
}
.container .content .work{
	margin-left: 40px;
	/*padding-top: 15px;*/
	margin-top: 30px;
	font-size: 24px;
	width: 100%;
	background-image: linear-gradient(to right,#4682b4 0,#87ceeb 100%);
	border-bottom: 2px solid #000;
	color: #fff;
}
.container .content .work .title{
	padding-left: 1em; 
}
.container .content .skill{
	padding-top: 10px;
}
 .item{
	padding-left: 100px;
	font-weight: 900;
}
.container .content .practice .imgloop{
	width: 800px;
	height: 600px;
	margin-left: 40px;
	margin-top: 40px;
	padding-bottom: 30px;
}
.container .carte{
	position: fixed;
	width: 120px;
	height: 300px;
	/*background: #548c00;*/
	background: #8fbc8f;
	right: 60px;
	border-radius: 30px;
	margin-top: 115px;
}
.container .carte .menu {
	position: relative;
	top: 30px;
	height: 150px;
	width: 120px;
}
.container .carte .menu li{
	text-align: center;
	font-size: 25px;
	font-family: "HYZhuZiMuTouRenW";
	height: 34px;
}
.container .carte .menu li a{
	color: #000;
}
.container .carte .menu li:hover{
	cursor: pointer;
	background: #90ee90;
}
.container .gitcontainer{
	position: fixed;
	display: block;
	flex-direction: column;
	height: 160px;
	width: 200px;
	margin-top: 430px;
	right: 40px;
}
.container .gitcontainer p{
	text-align: center;
	font-size: 18px;
	font-family:  "HYZhuZiMuTouRenW";
	border-bottom: 2px solid #000;
}
.container .gitcontainer .QRcode{
	width: 130px;
	height: 130px;
	border-left: 2px solid #000;
	float: right;
}
.container .gitcontainer .QRcode .QRjpg{
	width: 130px;
	height: 130px;
}

.container .gitcontainer .github{
	position: relative;
	border-bottom: 5px solid #000;
	width: 200px;
	height: 60px;
}
.container .return{
	position: fixed;
	height: 80px;
	width: 80px;
	border-radius: 30px;
	background: #ffd306;
	right: 200px;
	bottom: 180px;
}

.footer{
	height: 160px;
	width: 100%;
	background: #262a30;
}
.footer .copyright{
	padding-top: 40px;
}
.footer .copyright p{
	position: relative;
	/*margin: 0 auto;*/
	text-align: center;
	font-size: 22px;
	font-family: "Arial";
	color: #fff;
}

